@media screen and (max-width: 1420px) {
  .home {
    &-text {
      align-self: start;
      justify-self: center;

      &__title {
        font-size: 70px;
      }
    }
  }

  .about {
    &-theme {
      grid-column: 1/2;
      overflow: hidden;
    }

    &-theme2 {
      grid-column: 3/4;
      overflow: hidden;
    }

    &-block {
      width: 100%;
      justify-self: start;
      grid-column: 2/3;

      &__text {
        justify-self: center;
        width: 80%;
        grid-row: 4/5;
      }
    }
  }

  .cause {
    &-theme {
      grid-column: 2/4;
      z-index: -1;
      &__title {
        justify-self: end;

      }
    }

    &-container {
      grid-column: 4/6;
    }
  }
}

@media screen and (max-width: 1080px) {
  .cause {
    &-theme {
      grid-column: 1/4;
    }
  }
  .apply {
    &-container {
      width: 650px;
      &__block {
        align-self: end;
      }
    }
  }
}
