@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Roboto:wght@400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Aleo:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
.body {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

.header {
  display: grid;
  grid-template-columns: 0.5fr 1fr 0.1fr 0.1fr 0.1fr 0.7fr;
  min-height: 80px;
  align-content: center;
  text-transform: uppercase;
}
.header-logo {
  grid-column: 2/3;
}
.header-logo__text {
  color: #000;
  font-size: 34px;
  font-weight: 700;
  text-decoration: none;
  cursor: pointer;
}
.header-form {
  align-self: center;
}
.header-form__search {
  cursor: pointer;
}
.header-menu {
  align-self: center;
}
.header-menu__item {
  font-family: "Aleo", serif;
  font-size: 16px;
  font-weight: 400;
  cursor: pointer;
  color: #000;
  text-decoration: none;
}
.header-menu__item:hover {
  border-bottom: 1px solid #898989;
}
.header-basket {
  align-self: center;
  cursor: pointer;
  justify-self: center;
}
.header-basket__number {
  font-family: "Aleo", serif;
  font-size: 13px;
  font-weight: 400;
  text-decoration: none;
  color: #000;
}
.header-basket__number_item {
  margin-left: 7px;
}
.header-contact {
  align-self: center;
}
.header-user {
  position: relative;
  display: inline-block;
}
.header-user__img {
  margin-right: 10px;
}
.header-user:hover .header-user__name_dropdown {
  display: block;
}
.header-user__name {
  cursor: pointer;
  display: block;
  margin-left: 10px;
  font-family: "Aleo", serif;
  font-size: 16px;
  font-weight: 400;
}
.header-user__name_dropdown {
  display: none;
  position: absolute;
  background-color: #FFF;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.header-user__name_dropdown .dropdown-item {
  text-transform: none;
  cursor: pointer;
  display: block;
  font-size: 14px;
  font-family: "Aleo - Light";
  font-weight: 300;
  opacity: 1;
  color: #000;
  padding: 8px 15px;
  text-decoration: none;
  text-align: center;
}
.header-user__name_dropdown .dropdown-item:hover {
  background-color: #ddd;
}

.home {
  display: grid;
  height: 565px;
  position: relative;
  grid-template-columns: 1fr 1fr;
}
.home .slideshow-container {
  max-width: 100%;
  position: absolute;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.2);
  max-height: 100%;
}
.home .slideshow-inner {
  position: relative;
  z-index: -1;
}
.home .mySlides {
  display: none;
}
.home .mySlides-img {
  width: 100%;
}
.home .dots {
  position: absolute;
  bottom: 25px;
  left: 47.5%;
  z-index: 5;
}
.home .dot {
  border-radius: 10px;
  cursor: pointer;
  width: 13px;
  height: 13px;
  background-color: #bab8b2;
  margin: 0 2px;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.home .active,
.home .dot:hover {
  background-color: #FFF;
}
.home .fade {
  animation-name: fade;
  animation-duration: 1.5s;
}
@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
.home-text {
  z-index: 3;
  display: grid;
  align-self: center;
  grid-column: 1/4;
  justify-self: center;
}
.home-text__title {
  color: #ffffff;
  font-family: "Abril Fatface";
  font-size: 80px;
  font-weight: 400;
  letter-spacing: 4px;
}
.home-text__buttons {
  justify-self: center;
}
.home-text__button {
  cursor: pointer;
  text-transform: uppercase;
  border: none;
  color: #FFF;
  font-family: "Aleo", serif;
  width: 225px;
  height: 50px;
  background-color: #000000;
  transition: all 0.3s;
}
.home-text__button:hover {
  transition: all 0.3s;
  box-shadow: 5px 10px 18px #888888;
}
.home-sidenav {
  display: grid;
  grid-column: 1/3;
  position: fixed;
  margin-left: 40px;
  grid-gap: 5px;
  top: 350px;
}
.home-sidenav__link {
  text-decoration: none;
  color: #000;
  padding: 5px;
  font-family: "Abril Fatface";
  font-size: 14px;
  font-weight: 400;
}
.home-sidenav__link:hover {
  border: 1px solid #000000;
}

.cause {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr 1.5fr 1fr;
  min-height: 600px;
  align-content: center;
}
.cause-theme {
  grid-column: 2/4;
  display: grid;
  grid-template-columns: 1.5fr 0.5fr;
  position: relative;
}
.cause-theme__title {
  grid-column: 1/2;
  position: absolute;
  display: grid;
  justify-self: end;
  margin-bottom: 50px;
  align-self: center;
  z-index: 3;
}
.cause-theme__title_text {
  color: #000000;
  font-size: 40px;
  font-weight: 400;
  letter-spacing: 1px;
}
.cause-container {
  grid-column: 4/5;
  display: grid;
  grid-gap: 5px;
}
.cause-container__text_title {
  color: #000;
  font-family: Aleo;
  font-size: 18px;
  font-weight: 700;
}
.cause-container__text_desc {
  font-family: "Roboto";
  font-weight: 300;
  font-size: 16px;
  color: #898989;
}

.store {
  display: grid;
  grid-template-columns: 1fr 4.5fr 1fr;
  grid-template-rows: 0.3fr 1fr;
  height: 617px;
  background-color: #f8f8f8;
}
.store-title {
  grid-column: 2/3;
  grid-row: 1/2;
  font-family: "Abril";
  font-size: 36px;
  font-weight: 400;
}
.store-title__subtitle {
  margin-left: 40px;
}
.store-containers {
  grid-column: 2/3;
  grid-row: 2/3;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
}
.store-containers__block {
  display: grid;
  grid-template-columns: 0.1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-column-gap: 15px;
}
.store-containers__block_img {
  grid-column: 1/2;
  grid-row: 1/2;
  align-self: end;
}
.store-containers__block_title {
  grid-column: 2/3;
  font-family: Aleo;
  grid-row: 1/2;
  font-size: 18px;
  font-weight: 700;
}
.store-containers__block_subtext {
  color: #898989;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 300;
  grid-column: 2/3;
  grid-row: 2/3;
  width: 80%;
}

.how {
  display: grid;
  grid-template-columns: 1fr 4.5fr 1fr;
  grid-template-rows: 1fr 1fr 0.6fr;
}
.how-title {
  grid-column: 2/3;
  grid-row: 1/2;
  align-self: end;
}
.how-title__text {
  color: #000000;
  font-size: 36px;
  font-weight: 400;
}
.how-containers {
  grid-column: 2/3;
  grid-row: 2/3;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.how-containers__block {
  display: grid;
  grid-template-columns: 0.2fr 1fr;
  grid-template-rows: 0.5fr 1fr;
  grid-column-gap: 10px;
}
.how-containers__block_num {
  align-self: center;
  justify-self: start;
  color: #000000;
  font-family: "Abril Fatface";
  font-size: 40px;
  font-weight: 400;
}
.how-containers__block_title {
  color: #000000;
  font-family: Aleo;
  font-size: 18px;
  font-weight: 700;
}
.how-containers__block_text {
  width: 70%;
  grid-column: 2/3;
  align-self: start;
  font-family: "Roboto";
  font-weight: 300;
  font-size: 16px;
  color: #898989;
}

.about {
  display: grid;
  grid-template-columns: 0.6fr 1fr 0.4fr;
  height: 714px;
  background-color: #f8f8f8;
}
.about-theme {
  grid-column: 1/2;
}
.about-theme2 {
  grid-column: 3/4;
  overflow: hidden;
}
.about-block {
  background-color: #f8f8f8;
  width: 100%;
  height: 714px;
  z-index: 1;
  justify-self: center;
  grid-column: 2/3;
  display: grid;
  grid-template-rows: 0.7fr 0.2fr 0.6fr 1fr 0.7fr;
  text-align: center;
  grid-gap: 10px;
}
.about-block__title {
  grid-row: 2/3;
  font-family: Aleo;
  font-size: 24px;
  font-weight: 300;
}
.about-block__subtitle {
  grid-row: 3/4;
  align-self: center;
  color: #000000;
  font-family: "Abril Fatface";
  font-size: 38px;
  font-weight: 400;
  letter-spacing: 1px;
}
.about-block__text {
  justify-self: center;
  width: 75%;
  grid-row: 4/5;
  color: #898989;
  font-family: "Roboto";
  font-weight: 300;
  font-size: 16px;
}

.review {
  display: grid;
  grid-template-columns: 1fr 4.5fr 1fr;
  grid-template-rows: 0.3fr 1fr;
}
.review .slideshow {
  position: relative;
}
.review .mySlide {
  display: none;
}
.review-title {
  grid-column: 2/3;
  grid-row: 1/2;
  justify-self: center;
  align-self: center;
  color: #000000;
  font-size: 38px;
  font-weight: 400;
}
.review-containers {
  grid-column: 2/3;
  grid-row: 2/3;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 100px;
}
.review-containers__block {
  display: grid;
  grid-template-rows: 0.1fr 0.1fr 1fr 0.3fr;
  text-align: center;
}
.review-containers__block_img {
  justify-self: center;
}
.review-containers__block_name {
  color: #000000;
  font-family: Aleo;
  font-size: 18px;
  font-weight: 700;
}
.review-containers__block_text {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 17px;
  color: #898989;
}
.review-containers__block_position {
  font-family: "Roboto", sans-serif;
  font-style: italic;
  color: #898989;
  font-weight: 400;
  font-size: 17px;
  align-self: end;
}
.review-containers__block_point {
  color: black;
  font-family: "Abril Fatface";
  font-size: 120px;
  font-weight: 700;
  line-height: 26px;
  align-self: center;
}

.apply {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 650px;
  background-color: #f8f8f8;
}
.apply-container {
  width: 880px;
  display: grid;
  grid-template-rows: 1.2fr 1fr 0.8fr 0.5fr 1fr;
  text-align: center;
  grid-template-columns: 1fr 3fr;
}
.apply-container__title {
  align-self: end;
  justify-self: center;
  grid-row: 1/3;
  grid-column: 2/3;
  font-family: "Abril Fatface";
  font-size: 40px;
  font-weight: 400;
  letter-spacing: 1px;
}
.apply-container__text {
  align-self: start;
  width: 50%;
  justify-self: center;
  grid-row: 3/4;
  grid-column: 2/3;
  font-family: "Roboto";
  font-weight: 300;
  letter-spacing: 0.45px;
  color: #898989;
  font-size: 17px;
}
.apply-container__block {
  align-self: start;
  justify-self: center;
  grid-row: 4/5;
  grid-column: 2/3;
}
.apply-container__block_button {
  width: 225px;
  height: 50px;
  background-color: #000000;
  color: #FFF;
  text-transform: uppercase;
  border: none;
  font-family: Aleo;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.7px;
  cursor: pointer;
  transition: all 0.3s;
}
.apply-container__block_button:hover {
  transition: all 0.3s;
  box-shadow: 5px 10px 18px #888888;
}
.apply-theme {
  overflow: hidden;
}

.navbar {
  display: grid;
  grid-template-columns: 1fr 1.5fr 3fr 1fr;
  min-height: 105px;
  align-content: center;
}
.navbar-block {
  display: grid;
  grid-column: 2/3;
  grid-template-columns: 1fr 1fr 1fr;
}
.navbar-block__link {
  justify-self: start;
  color: #000000;
  font-family: Aleo;
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
  cursor: pointer;
  padding: 15px;
  text-decoration: none;
}
.navbar-block__link:hover {
  border-bottom: 1px solid #898989;
}
.navbar-item {
  grid-column: 3/4;
  justify-self: end;
  align-self: center;
}
.navbar-item__button {
  font-family: Aleo;
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
  width: 165px;
  height: 43px;
  color: #000000;
  background-color: #FFFFFF;
  border: 1px solid #bab8b2;
  cursor: pointer;
  transition: all 0.3s;
}
.navbar-item__button:hover {
  transition: all 0.3s;
  box-shadow: 5px 10px 18px #888888;
}

.footer {
  display: grid;
  grid-template-columns: 1fr 2.45fr 2fr 0.8fr;
  height: 90px;
  background-color: #ffffff;
  border: 1px solid #bab8b2;
}
.footer-logo {
  grid-column: 2/3;
  align-self: center;
}
.footer-logo__block {
  color: #000000;
  font-size: 34px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
}
.footer-rights {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column: 3/4;
  align-self: center;
  justify-self: end;
  grid-column-gap: 50px;
}
.footer-rights__item {
  text-decoration: none;
  color: #898989;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
}

@media screen and (max-width: 1420px) {
  .home-text {
    align-self: start;
    justify-self: center;
  }
  .home-text__title {
    font-size: 70px;
  }

  .about-theme {
    grid-column: 1/2;
    overflow: hidden;
  }
  .about-theme2 {
    grid-column: 3/4;
    overflow: hidden;
  }
  .about-block {
    width: 100%;
    justify-self: start;
    grid-column: 2/3;
  }
  .about-block__text {
    justify-self: center;
    width: 100%;
    grid-row: 4/5;
  }
}

/*# sourceMappingURL=style.css.map */
